<form action="/articles" method="post">
  <label for="articles">New Article</label>
  <input type="text" id="article_title" name="article_title" value="article_title">
  <label for="text">text</label>
  <input type="text" id="URL" name="URL" value="URL">
  <label for="description">description</label>
  <input type="text" id="description" name="description" value="description">
  <input type="submit" id="submit" name="submit" value="Submit">

</form>
